<style>
    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="container">
    <span>Oi, {{name}} </span>
    <br>
    <br>
    <span>Você foi cadastrado no monitor de banco de dados da Novel, sua senha é: {{newPassword}}</span>
    <br>
    <h3>Equipe | <strong>Novel</strong></h3>
</div>